*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header .left img{
    width: 100px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}

#navbar .right ul{
    display: flex;
}
#navbar .right ul li{
    list-style: none;
    margin: 10px;
}

h2{
    text-align: center;
    margin: 20px 0;
}

.jobs-table{
    width: 100%;
    border: 1px solid gray;
}

.jobs-table tr th, td{
    border-right: 1px solid gray;
    border-collapse: collapse;
}

.jobs-table tr th{
    background-color: azure;
}

.jobs-table tr td{
    padding: 8px;
}

.jobs-table tr:nth-child(odd){
    background-color: rgb(213, 236, 235);
}

.content{
    background-color: rgb(248, 249, 250);
    color: rgba(0, 0, 0, .87);
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

/* Form => */

#application{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

#application-form label{
    font-weight: 600;
}

#application-form input{
    padding: 4px;
    font-size: 1.25rem;
    margin-top: 4px;
    border: 1px solid gray;
}

#application-form div{
    margin: 16px;
}

#application-form textarea{
    width: 80%;
}

#application-form button{
    width: 100px;
    height: 30px;
    background-color: #f0ffff;
    border: 1px solid gray;
    border-radius: 5px;
}